@model SportsStore.WebUI.Models.ForgottenPasswordViewModel

@{
    Layout = null;
    ViewBag.Title = "ForgottenPassword";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <title>ForgottenPassword</title>
</head>
<body>
    <div class="panel">
        <div class="panel-heading">
            <h3> Resetowanie hasła</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    @using (Html.BeginForm()){
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <label>Nazwa użytkownika:</label>
                            @Html.TextBoxFor(l => l.Email, new { @class = "form-control" })
                        </div>
                        <input type="submit" value="Resetuj hasło" class="btn btn-primary" />
                    }
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
