
@{
    ViewBag.Title = "Sklep sportowy: zamowienie zostalo przesłane";
}

<h2>Dziękujemy!</h2>
Dziękujemy za złożenie zamówienia. Po uregulowaniu wpłaty wyślemy produkt tak szybko jak to tylko będzie możliwe.