#cart-table td {
	vertical-align: middle;
}

.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}

.navbar-right {
	float: !important;
	margin-right: 15px;margin-left: 15px;
}
#summary {
    padding-left: 5px
}